body {
    background: white;
    font-family: sans-serif;
    width: 600px;
    margin: 30px auto 0 auto;
}

header {
	text-align: center;
}

footer {
	text-align: center;
}

header h1 {
  	border: solid 10px;
  	/* the border will curve into a 'D' */  
  	border-radius: 10px 40px 40px 10px;
}

section header h1 {
	text-align: left;
	border: none;	
}